.addCard {
  display: none;
}

.card {
  padding-bottom: 20px;
}

.card:hover .addCard {
  display: block;
  position: absolute;
}

.cardImage {
  height: 240px;
  width: 265px;
  object-fit: fill !important;
}